<div class="container">
  <h1>Editing Book</h1>
  <div class="row">
    <div class="col">
      <%= form_with model:@book, local:true do |f| %>
        <div class="title_form">
          <p class="pt-2 mb-0">
            <%= f.label :title %>
          </p>
          <%= f.text_field :title %>
        </div>
        <div class="body_form">
          <p class="pt-2 mb-0">
            <%= f.label :body %>
          </p>
          <%= f.text_area :body%>
        </div>
        <div class="submit_btn">
          <%= f.submit %>
        </div>
      <% end %>
      <div class="link_btn">
        <%= link_to "show", book_path(@book) %>
        |
        <%= link_to "back", books_path %>
      </div>
    </div>
  </div>
</div>